[2020-04-07 21:33] JohnMoehrke opened #1 "Raw Web Server for publication of resulting html content"
Need a Web Server to host publication
* Must have administrative interface that @MaryLJ (authorized few) can use to replicate html ready content (where the html ready content comes from the IG publisher and mechanics and template defined by the IHE-FHIR workgroup)
* Must have ability to support http redirect management where @MaryLJ (authorized few) can define canonical URI that redirect to curren

[2020-04-08 16:26] JohnMoehrke opened #2 "Update with Keith proposal layout"
Keith has proposed a layout of the text, and a use of some automation build tools

[2020-04-08 16:28] JohnMoehrke opened #3 "are we agreeing to current solution will use FSH?"
Is there ability to do phasing? As in use FSH in early development, where that early development is not part of the normative solution? There was some discussion that FSH might be useful to kickstart a IG, but once the structureDefinitions and other elements are created that manual manipulation takes over. Is this the case? If so, then do we have a staging phase where FSH is used?

[2020-04-08 16:31] JohnMoehrke opened #4 "use of UML vs ExampleScenario"
It is agreed that using UML diagrams is sufficient today, where it might be possible that a future design might leverage or enable use of ExampleScenario. Today ExampleScenario is too immature and too difficult for the typical IHE author to use effectively.
Please comment

[2020-04-08 17:01] costateixeira commented on #4
ExampleScenario is not a replacement for UML diagrams, but a way to get those diagrams.
We could make our own model, but I don't see why we'd make our own model (which would be by definition less mature than ExampleScenario?)

[2020-04-08 17:03] costateixeira commented on #3
I think we should support FSH but that should not be the only option. Yes, Sushi can generate some of the stuff but not all. And sushi is still catching up with the complexity of the IG publication.
Sushi creates the StructureDefs in the output folder. If other structureDefs already exist, Sushi lets them be (which is handy for example when I have manually generated Logical Models and sushi-genera

[2020-04-08 17:55] ElliotSilver commented on #4
Although I agree that ExampleScenario and UML are not equivalent, I also agree that ExampleScenario is too immature at the moment. I would suggest going forward using UML supplemented by various other "pieces" rather than wait until ExampleScenario is complete and mature enough to encapsulate all our needs.

[2020-04-08 19:32] costateixeira commented on #4
There are 2 different things:
1. Using diagrams
2. Using ExampleScenario.
These are not the same. ExampleScenario can be used to generate pages and diagrams for examples, but there are other pages and diagrams needed - transaction diagrams, actor diagrams..

Assuming the point is about examples, there are currently at least 4 ways to generate diagrams:

1. Using any tool Powerpoint, visio, plantUM

[2020-04-21 21:06] ghost opened #5 "Update readme with text regarding overall goals of this effort"

[2020-04-23 12:18] JohnMoehrke opened #6 "Keith magic diagrammed"
Jose has done a huge service and visualized the Keith magic xml
https://github.com/IHE/FHIR_IG_content/blob/master/source/option1.md

Which brings up some issues that may or may not be a problem with the model

0) I assume the diagram simply doesn't represent repetitions. For example a Transaction is made up of 1..* message, not just one.  I think this is incorrectly diagrammed in the Transaction

[2020-04-23 13:38] JohnMoehrke commented on #6
5. Actors have the relationship to Transactions in the context of a IG... but Actors also live alone and when living alone can be used by many IG.
6. Vocabulary -- I presume this is mostly ValueSets, but could also be CodeSystems and ConceptMaps. right? Should we state that?  Do we need to have a distinction in this area for vocabulary specifically pulled into an IG from SNOMED, LOINC, RxNorm, etc

[2020-04-23 13:39] JohnMoehrke commented on #6
5. Actors have the relationship to Transactions in the context of a IG... but Actors also live alone and when living alone can be used by many IG.
6. Vocabulary -- I presume this is mostly ValueSets, but could also be CodeSystems and ConceptMaps. right? Should we state that?  Do we need to have a distinction in this area for vocabulary specifically pulled into an IG from SNOMED, LOINC, RxNorm, etc

[2020-04-23 14:30] costateixeira commented on #6
Just for awareness, I mentioned I would start with documenting what I
understood from Keith's diagrams, and I then I went to document my ideas.

Here is the overview:
https://github.com/IHE/FHIR_IG_content/blob/master/source/be_target.md

Then I will document the attributes and relations between these - I expect
this will answer several questions and bring other questions.

I started an IHE repo b

[2020-04-23 14:50] JohnMoehrke commented on #6
please don't set up YET ANOTHER repo... just add your stuff to this repo.

John Moehrke 🔥 Architect: Healthcare Informatics Standards -
Interoperability, Privacy, and Security
CyberPrivacy – Enabling authorized communications while respecting Privacy
IHE Co-Chair IT Infrastructure Planning and Technical
HL7 Co-Chair Security WG, FHIR FMG, FHIR facilitator, and FHIR Foundation
founding member
HITRU

[2020-04-23 15:02] costateixeira commented on #6
This is unrelated and I prefer to follow Ketih's example to setup something
that works and others can see.
We are all experimenting, and I just need a couple benches to experiment on
and to filter the input to the group.

Cheers

Jose

On Thu, Apr 23, 2020 at 4:51 PM John Moehrke <notifications@github.com>
wrote:

[2020-04-27 11:22] JohnMoehrke commented on #6
I also realized that there is a method of documenting in IHE Profiles for three kinds of "grouping".
1. Mandatory grouping. This actor must always be implemented with this other actor. Together they provide a functionality.
2. Optional grouping, as in a declared option on an Actor declares that the actor will be grouped with another actor. Together they provide a functionality that independently i

[2020-05-28 17:17] JohnMoehrke commented on #1
We need administrative tool to copy directories full of files on to this storage space (aka FTP). There is NO request for management on a file-by-file basis. We do NOT need editing capability. The directories we are going to copy there are all managed elsewhere and where they are managed assures that they are internally correct.

The user will not be expected to accidentally browse here, but will

[2020-05-28 17:18] JohnMoehrke commented on #1
I have learned from Grahame, that he is no longer recommending S3 bucket. He is not against it, but it is not enough. One not only needs space, domainname support, bandwidth support, and raw administrative access;   such as S3 provides. But one also needs a functionality of a web server to support a very important function, that of managing redirection urls. This is needed because as an Implementa

[2020-05-28 17:18] tonesoutherland commented on #1
here are some additional proposed requirements - some of which may be covered in previous comments:

- profile files can be organized into containers (e.g., file folders, labels)
- simplicity and ease of access similar to what is available on ftp.ihe.net today
- accessibility by multiple users
- portability to another platform (e.g., download and move somewhere for archive)

[2020-05-28 17:19] JohnMoehrke commented on #1
ITI is further needing the above kind of a resource for publication of Final Text technical framework. Nothing new is added by this except space and scope.

[2020-05-28 20:10] costateixeira commented on #1
This seems too complicated and I no longer understand where is the requirement for this supplement-template repository.
Having implemented something similar, I advise looking at this differently.

[2020-06-01 12:15] JohnMoehrke commented on #1
@costateixeira This issue is not about templating for IG publication, it is about how IHE publishes the results and maintains it as a normative specification. The build machine is only good for committee work, it can't be the publication site.  This workgroup is about IHE publication of FHIR profiles using the IG publisher. That responsibility of the IHE-FHIR workgroup includes publication, not ju

[2020-06-01 13:00] costateixeira commented on #1
This shows my point. I do advise to look at it differently

On Mon, Jun 1, 2020 at 1:15 PM John Moehrke <notifications@github.com>
wrote:

[2020-06-01 19:39] JohnMoehrke opened #7 "License recommendation"
When someone creates a GitHub Repo for developing their IG, what is the recommendation from IHE when that Repo is for the purposes of IHE?

I tend to use CC0 most, but am not sure that is right. So would like an authority to define. 

I think I have also heard some argue that better is apache-2.0 or cc-by-4.0

License | License keyword
-- | --
Academic Free License v3.0 | afl-3.0
Apache license 2.

[2020-06-01 19:45] JohnMoehrke opened #8 "Process used from committee approval to published works"
Given the IHE Governance regarding publication of Public Comment, Trial Implementation, Final Text, or white papers; what are the process steps and who is the responsibile actor(s) for each step.

HL7/FHIR has a written procedure that Grahame is has published, and for which Grahame is the actor for all of these tasks. Presumably when IHE workgroup approves a publication, we will need to do similar

[2020-06-04 22:00] JohnMoehrke commented on #1
Learned today that the sub-directory that hosts the FHIR content on must be able to run ASP or PHP scripts. (Grahame has been invited to add more specific requirements)

[2020-06-04 22:15] grahamegrieve commented on #1
The redirects use active content on the server side. For IIS, ASP.net and web.config needs to be supported. For Apache/Nginx/Lightspeed, PHP needs to be enabled.

The requirements are pretty simple:
* needs to run a mainline web server of the types listed above
* server needs to run scripts as authorised above
* server does not db storage, any authorization privileges, user mgmt etc except what is

[2020-06-05 12:42] JohnMoehrke commented on #8
discussion with Grahame and Jose on the process
https://chat.fhir.org/#narrow/stream/179252-IG-creation/topic/IG.20releases/near/196823326

[2020-06-11 16:24] JohnMoehrke commented on #1
Chris reports that Chris Harr is setting up lightsail on our amazon bucket.

https://fhir.ihe.net/<path>/<profile> --- NO because more than FHIR will be published here

https://profiles.ihe.net/<domain>/<profile>
https://profiles.ihe.net/papers/<domain>/<paper>
https://profiles.ihe.net/publications/<domain>/<volume 1/2/3/4>
https://profiles.ihe.net/profiles.html -- master index
https://profiles.ih

[2020-06-12 13:16] JohnMoehrke commented on #5
Committee worked on this 2020/6/11 and created a wiki page on goals and objectives.

[2020-06-12 13:16] #5 closed, assigned to nobody

[2020-06-12 13:18] JohnMoehrke commented on #3
I think FSH is a good base for IHE, recognizing that sushi does allow for other input types.
Biggest concern for me is stability of the publication platform, but I don't see the sushi additional module as radically more unstable than the Grahame publication parts.

[2020-06-12 13:28] JohnMoehrke commented on #7
HL7 gives the following recommendations to IG authors:

LICENSE | A standard file used by Github to indicate what open-source license applies to the contents of the repository. For implementation guides published by HL7 International (including accelerator projects such as Da Vinci that use the HL7 ballot process), this must refer to HL7's FHIR license and the CC0 license.
-- | --

So it seems the

[2020-06-12 13:48] JohnMoehrke opened #9 "Jose alternative supplement-template"
Jose has an alternative supplement-template to be developed for committee review.
   https://github.com/IHE/ihe-model-ig

[2020-06-12 13:50] JohnMoehrke commented on #9
Another alternative?
https://github.com/IHE/ihe-ig-template

[2020-06-12 13:50] JohnMoehrke commented on #9
A second alternative?
https://github.com/IHE/FHIR_IG_content

[2020-06-12 13:52] JohnMoehrke commented on #2
@kwboone which github repo do you recommend we look at for your proposal? Is it ACDC, SANER, or something else?

[2020-06-12 13:57] JohnMoehrke opened #10 "PCC DCP IG is not following guidance"
https://github.com/IHE/DCP

@brynrhodes is not following the recommendations and guidance of the IHE-FHIR workgroup. We need to engage to understand why not. Is this a simple case of not knowing? Or is there some fundamental issue that we should be working on resolving?

[2020-06-12 14:18] keithboone commented on #4
A UML Diagram is but a part of wider documentation.  If you just generate UML but no text to go with it, you've communicated poorly and only about 1/3 of the audience will get any of what the diagram is trying to convey.  There needs to be text to go along with what the diagram communicates, and parts of that text are associated with different parts of the diagram.  Thus, a larger structure can be

[2020-06-12 14:31] keithboone commented on #7
I would prefer CC-BY-4.0, as it is simplest (beyond CC0 which is actually the easiest, but I think we want some recognition). Among the list of licenses that I don't worry to hard about are Apache, BSD, Eclipse, and MIT licenses.  Lesser GNU licenses are OK, but prevent some from being able to use material because of the misunderstandings about the differences between full and lesser GNU licensing

[2020-06-12 14:32] keithboone commented on #3
I would be concerned NOT using FSH at this point.  If I'm the editor and can make the choice, I will use FSH at this point for ANY IG.  It's more than proven it's value.

[2020-06-12 14:38] keithboone commented on #8
It's documented, but not without challenges, and there's a LOT of manual processing involved as I understand it today.  Yes, we will need a process, but hopefully, it is lighter-weight.

[2020-06-12 15:10] costateixeira commented on #3
I don't see any reason we'd exclude FHIR Shorthand from the editors' tool
belt. I personally use it on a regular basis, along with the other tools.

On Fri, Jun 12, 2020 at 4:33 PM Keith W. Boone <notifications@github.com>
wrote:

[2020-06-12 15:15] costateixeira commented on #9
One of them I plan to use to demonstrate some features and structure of a
"model" IG based on Out of the box templates.

The other 2 contain different magic but I think I can merge them soon when
I add content.

On Fri, Jun 12, 2020 at 3:50 PM John Moehrke <notifications@github.com>
wrote:

[2020-06-12 15:19] costateixeira commented on #7
Agree with Keith on CC (I did not read the difference between CC-BY-4.0 and
CC0, but I don't need to have an opinion there)
Especially agree with not using GNU GPL.

On Fri, Jun 12, 2020 at 4:31 PM Keith W. Boone <notifications@github.com>
wrote:

[2020-06-12 15:54] JohnMoehrke commented on #4
I understand the desire to have one artifact (keith magic xml, Jose ExampleScenario) that produces many narrative, graphics, and artifacts... This has a nice benefit of write once, and limits the synchronization of changes. However it has a huge drawback of being a single purpose mechanism. That is to say that Keith understands his xml and his xslt really well, but no one else does. Jose understan

[2020-06-12 16:03] JohnMoehrke commented on #7
I think I agree with CC-by-4.0
should we do like HL7 and add an IHE line to the license file?
if we add an IHE line, should CC-by-4.0 be first so as to enable widest automatic processing? or IHE first to be most specific even if less automatic processable

[2020-06-12 16:08] costateixeira commented on #4
ExampleScenario a standard resource, and it's not a steep learning curve
to make one. The FHIR toolkit even has a simple editor where we can edit
ExampleScenarios (your bug-free mileage may vary).
ExampleScenario is not at all intended to capture actors, transactions,
interactions.

For the long-term, that is why I created the other repo - I will populate
it as soon as time allows.

Kind regards

[2020-06-12 16:09] JohnMoehrke commented on #3
To be clear. I don't think IHE will RESTRICT anything. The question here is if our recommendation is to use sushi and FSH. We have limited resources, I don't think we can document and support many methods of publication as the recommendation. So, the question is if sushi and FSH should be our recommendation to new IHE authors, or should we continue to recommend they edit XML? FSH is clearly easier

[2020-06-12 16:13] JohnMoehrke commented on #3
@jose bring up an important sub-point in an email to me.... FSH is a good recommendation, but the sushi function to author IG content is potentially problematic. That is to say that today sushi tool does do some manipulation of the IG that are beyond the FSH specification, and thus makes it hard to use IG functionality that is not well aligned with the sushi expectation.

I understand from the sus

[2020-06-12 16:17] JohnMoehrke commented on #9
@costateixeira I did notice that the second one I initially put in this issue was actually the high-level template (icon and color). That was my mistake for failing to notice.

[2020-06-12 16:18] JohnMoehrke commented on #9
Should we track the other two as different issues? I want an issue simply to keep it on our dashboard.

[2020-06-16 03:19] ElliotSilver commented on #7
I came across a license that allowed unlimited copying in part or in whole, with no modification, as long as the owner was acknowledged. It seemed reasonable for our uses, and I think is largely the same as CC-by-4.0, although I don't believe the CC-by-4.0 has the "no modification" restriction. I wish I could recall where I came across that license.

[2020-06-16 16:02] dididavis commented on #7
I vote for CC-by-4.0 and I do believe we need to add an IHE line to the license file first similar to HL7.  Just my 2 cents worth.

[2020-07-02 15:19] JohnMoehrke opened #11 "Overall structure of an IHE IG"
what content should be in a FHIR IG - what pages, what diagrams, what content structure?

[2020-07-02 15:19] JohnMoehrke commented on #11
Note that much of what you seek is already defined in our current supplement template. It is in a WORD document format, but the components you are describing are there. Pulling them out into a diagram will help everyone, not just IG builders.  I suspect that if you could start the diagramming, others will jump in and help adjust and improve it.

Note that we do have to recognize, as our supplement

[2020-07-07 19:27] JohnMoehrke commented on #8
@costateixeira has a simplified version of these instructions https://github.com/costateixeira/ig-publication

[2020-07-07 19:27] JohnMoehrke commented on #8
I will execute Jose's process, given my FormatCode, and Chris's new web site.

[2020-07-08 14:25] JohnMoehrke commented on #8
This procedure is one that an editor would use to create an IG.

The issue #8 is about the process used after an IG has been drafted and approved by the IHE domain. This process needs to include any fixup needed, confirmation of proper copyright etc. So I am going back at looking at Grahame's procedure which is more on topic for issue #8
    https://confluence.hl7.org/display/FHIR/Process+for+Publ

[2020-07-08 16:09] JohnMoehrke commented on #7
Any objection to CC-by-4.0?

[2020-07-08 16:12] JohnMoehrke commented on #3
Any objection to us agreeing to recommend IHE Profile authors use FSH format?
Note we will continue to refine the build for ease of use. This is only about recommendation to IHE Profile author. This would not make non-FSH use forbidden.

[2020-07-08 16:18] JohnMoehrke commented on #4
do we need to choose? Can we support/recommend use of UML and ExampleScenario? Might we only need to differentiate between the two?
Are either of these supported in the build tools? I have not been able to figure out how to get UML code to render, so have been saving the image-source and doing my own rendering with plantuml.

[2020-07-08 16:22] JohnMoehrke commented on #10
@brynrhodes is there some lessons learned that you can guide us on?

[2020-07-08 16:32] JohnMoehrke commented on #2
@keithboone will you be able to join us to discuss keith magic vs jose magic?

[2020-07-08 16:35] costateixeira commented on #4
If the question is about use of UML vs ExampleScenario, I don't see a
choice between plantuml ( a tool) and examplescenario (a resource).
We're working on making support for PlantUML in the templates.

On Wed, Jul 8, 2020 at 6:18 PM John Moehrke <notifications@github.com>
wrote:

[2020-07-08 17:11] keithboone commented on #2
I am missing the invite for this meeting on my Calendar.

                Keith

Keith Boone, Enterprise Architect
kboone@ainq.com | (617) 640-7007

AUDACIOUS INQUIRY
Bold Solutions for Connected Healthcare®
ainq.com<https://ainq.com/>|Twitter<https://twitter.com/a_inq>|YouTube<https://www.youtube.com/channel/UCF-wA3wcjce8YniZhxy1O4Q>|Facebook<https://www.facebook.com/AudaciousInquiry/>| LinkedIn<

[2020-07-08 17:12] keithboone commented on #3
None from me.  I heartily recommend it.

[2020-07-08 17:38] JohnMoehrke commented on #2
see operating mechanisms described here https://github.com/IHE/supplement-template/wiki/IHE-FHIR-workgroup-Operating-Mechanisms

[2020-07-08 18:15] jtdonnelly commented on #3
Although, I have not used it myself, everything I've heard from others that have used it, support its use highly..

[2020-07-08 19:09] keithboone commented on #11
See http://build.fhir.org/ig/IHE/ACDC for one proposal for structure.

[2020-07-08 20:04] costateixeira commented on #3
AFAIK nobody has anything against including FSH; I don't see why this is a
discussion topic.

On Wed, Jul 8, 2020 at 8:16 PM John Donnelly <notifications@github.com>
wrote:

[2020-07-08 20:10] keithboone commented on #2
I'd start with ACDC.  SANER has some stuff we might also find useful, but ACDC is strictly an IHE profile.

[2020-07-08 20:23] jtdonnelly commented on #7
None from me...   Re an IHE line, does IHE even have a FHIR one?  Or would this be a general IHE one without a FHIR designation?

[2020-07-08 21:13] JohnMoehrke commented on #7
@jtdonnelly this only comes up because github has a built in license at the github level.  Further this mechanism is automated and computer processable. So it is helpful to the audience if we use one of the standards based licenses.  (standards organizations using standards... :-)

I agree with your statement around the things we publish on the ihe.net domain.

[2020-07-08 21:16] JohnMoehrke commented on #3
@costateixeira The reason to make it a decision is to get the group to consider it. The issue was opened in April when FSH was far less stable. Even today FSH is not yet normative, I am not sure it has made it to a STU ballot. So we are taking a risk in using it, vs using StructureDefinition.

[2020-07-08 21:27] ElliotSilver commented on #7
My only issue is that I don't think CC-by-4.0 has a no modification clause. We  don't want people to pass something off as an IHE standard that isn't.

[2020-07-08 21:37] JohnMoehrke commented on #7
@ElliotSilver It does allow technical modifications (the shortened graphic seems to indicate a form of modification allowed that is more than the words say). I don' think we are worried about this level of modification, right?

       4. Media and formats; technical modifications allowed. The
          Licensor authorizes You to exercise the Licensed Rights in
          all media and formats wheth

[2020-07-08 22:14] costateixeira commented on #3
I don't understand "using if [fsh] vs StructureDefinition", or the need for
fsh to be stable - fsh is just a supporting language to edit some of the
content, and it's fine at that.

On Wed, Jul 8, 2020 at 11:16 PM John Moehrke <notifications@github.com>
wrote:

[2020-07-09 13:00] JohnMoehrke commented on #3
This question is a question to IHE as a ANSI standards organization, with governance, that maintains specifications for 20+ years, that needs to support our technical committees from a panel of experts (this ihe-fhir workgroup). I understand that this question seems odd if it is viewed from the perspective of a consultant on timeframe scoped contract.

This question is not one around forbidding an

[2020-07-09 15:58] costateixeira commented on #3
I don't think we should be elevating sushi and fsh to anything normative,
perhaps this is why I cannot understand the open issue.

I'm sorry but I cannot join the call today

On Thu, Jul 9, 2020 at 3:01 PM John Moehrke <notifications@github.com>
wrote:

[2020-07-09 16:41] JohnMoehrke commented on #7
Meeting discussion agreed to CC-by-4.0 as the recommendation for github and IG publication.
Note: DCC should be made available.
Note: sponsors and IHE-International should be notified and they may give us feedback to change.

[2020-07-09 16:41] #7 closed, assigned to nobody

[2020-07-09 16:50] JohnMoehrke commented on #3
in ihe-fhir meeting. discussion was positive to us recommending and supporting FSH and sushi.
Our template would focus on instructing an IHE Profile (IG) editor to use FSH rather than xml or json conformance resource.
We would be prepared to support these authors.
Ask for tutorial from Mitre, or use existing.

[2020-07-09 16:50] #3 closed, assigned to nobody

[2020-07-09 16:52] JohnMoehrke commented on #1
in ihe-fhir meeting we agreed we now have the raw web server. Further issues will be new issues.

[2020-07-09 16:52] #1 closed, assigned to ccarr

[2020-07-09 16:55] costateixeira commented on #3
"our template would focus to use FSH **rather than** xml" ?
- I don't see how this is viable.

On Thu, Jul 9, 2020 at 6:51 PM John Moehrke <notifications@github.com>
wrote:

[2020-07-09 17:03] JohnMoehrke commented on #4
ihe-fhir wg discussed this and concluded that UML diagrams should be sourced in PlantUML code syntax or ExampleScenario.
The IG Build tool is integrating PlantUML rendering engine to support both of these. (TBD how to use it)

[2020-07-09 17:03] #4 closed, assigned to ElliotSilver, costateixeira, JohnMoehrke, afourquet

[2020-07-09 18:03] JohnMoehrke opened #12 "update supplement_template to include FSH and recommend use of FSH."

[2020-07-09 21:21] JohnMoehrke commented on #3
There is some voiced concern that the conclusion is an indication that IHE would forbid the use of xml or json structureDefinition. This is NOT true. The conclusion is focused only on our example template and instructions. We simply decided that we will provide instructions on how to write constraints in FSH, and we will then not include instructions on how to write xml or json.  If an IHE author

[2020-07-09 21:48] costateixeira commented on #3
This is clearer, although I expect people will need to manually edit
resources anyway( or use other tools) to create some structuredefs, or
codesystems, valuesets, examplescenarios, capabilitystatements,
plandefinitions, namingsystems... hence my support for fsh as simply
another way to enter data. and my focus would be on "what do we need to
produce".
And sushi is still not well integrated with t

[2020-10-01 18:32] JohnMoehrke opened #13 "need http redirect"
need somehow redirects of a browser request for
"http://ihe.net/fhir/ihe.formatcode.fhir"
   --> "http://profiles.ihe.net/fhir/ihe.formatcode.fhir"
"http://ihe.net/fhir/ihe.formatcode.fhir/CodeSystem/formatcode"
  --> "http://profiles.ihe.net/fhir/ihe.formatcode.fhir/CodeSystem-formatcode.html"
"http://ihe.net/fhir/ihe.formatcode.fhir/ValueSet/formatcode"
  --> "http://profiles.ihe.net/fhir/ihe.fo

[2020-10-01 18:35] JohnMoehrke opened #14 "web server defaults to html page"
When a browser hits a file without ".html", it should return the .html page

for example "http://profiles.ihe.net/fhir/ihe.formatcode.fhir/ValueSet-formatcode"
  should return --> "http://profiles.ihe.net/fhir/ihe.formatcode.fhir/ValueSet-formatcode.html"

[2020-10-02 15:56] JohnMoehrke commented on #11
see my update to the readme

[2020-10-02 17:03] costateixeira commented on #11
The schema you have there seems a replica of the current IHE document.
I may have some alternative suggestions for structuring the
content, looking at a "newer" way of publishing.
BTW, the glossary is missing or not in the right place.

I'll document an alternative in the other IG, hoping we can discuss it soon.

Kind regards

José

On Fri, Oct 2, 2020 at 5:56 PM John Moehrke <notifications@github

[2020-10-02 22:20] JohnMoehrke commented on #11
alternatives are welcome, that is how we can move forward.

Yes it is based on the current supplement. This is deeply part of the governance and identity of IHE. If we do everything like HL7, then we are not distinguished from HL7. Note that the "Volume" indicators are not indication of standalone document, like they are today. I included that tag simply as a grouping mechanism. An implementation

[2020-10-02 22:29] costateixeira commented on #11
Didn't mean to discuss and challenge the current ideas, just to say that
I'll present an overall alternative that will allow IHE to get ahead.
(I don't understand the part where we'd do everything like HL7..).

Perhaps sending my diagram without a context was not a good idea - I will
explain it with a context, as a new way of doing things. Glossary included.

On Sat, Oct 3, 2020 at 12:20 AM John M

[2020-10-15 16:28] JohnMoehrke commented on #14
this is the issue we discussed today, where an http request tries to hit a file without an extension, the web server should follow the http negotiate types to determine the best file to return. Thus with a user using a browser this will result in html being returned. This is not always going to be html, as the http request may be from an application requesting json types, which should result in th

[2020-10-15 16:29] JohnMoehrke commented on #13
@ccarr here are three explicit redirects we need.

[2021-03-29 15:11] JohnMoehrke opened #15 "archives not to be indexed"
Should we be specifying in the sub-directories holding the archived versions of the published IG that these folders should NOT be indexed? This will help the search to succeed at finding the publication in the root, vs finding the deprecated content

eg.
This should be indexed
* https://profiles.ihe.net/fhir/ihe.formatcode.fhir
But these should not be indexed
* https://profiles.ihe.net/fhir/ihe.fo

[2021-04-08 23:00] JohnMoehrke opened #16 "IHE Template to not number headers"
may be a second template used in IHE, where the numbering is dictated by the Technical Framework (RAD, IHE, PCC, QRPH). These domains can use this template that will NOT automatically assign header numbers. Thus these IG using this template will need to manually assign header numbers in the header text. (This is how we do this in WORD today. This is necessary because we use volumes, and assigned c

[2021-04-08 23:02] JohnMoehrke opened #17 "IHE History template"
need a history template for IHE.

[2021-04-08 23:02] JohnMoehrke commented on #17
I am happy to do the work, but have no idea how.

[2021-04-09 06:54] costateixeira commented on #17
this is already done https://github.com/IHE/fhir-ig-history-template

[2021-04-09 06:54] #17 closed, assigned to costateixeira

[2021-04-09 10:54] JohnMoehrke commented on #17
then... please explain how to use it. because MHD is in public-comment with a red template with the HL7 logos.

[2021-04-09 14:06] costateixeira commented on #17
It was in the script, it is now in Confluence

https://confluence.hl7.org/pages/viewpage.action?pageId=104580055

On Fri, Apr 9, 2021 at 12:54 PM John Moehrke ***@***.***>
wrote:

[2021-05-15 21:19] JohnMoehrke opened #18 "guidance to forbid modifierExtension"
without a good reason within the IG, there should be a forbidding of modifierExtensions.

[2021-07-21 16:27] lynnfel opened #19 "Vol 1 navigation"
In PIXm (being prepared for public comment), when I am in Vol 1 content, I can scroll through the entire contents of Vol 1 (single webpage).   In PDQm (like MHD), each sub-section (actor/transactions, options, ....) can only be accessed individually via the Vol 1 dropdown menu.  What a pain.   We should (all) use the PIXm model.

[2021-07-22 13:46] JohnMoehrke commented on #19
We have discussed this before, and the model PDQm and MHD used is the current recommended pattern. I don't disagree that with small Volume 1, like PDQm, this is less friendly than the continuous method that PIXm used.  However we have a pattern based on large volume projects.

I think we would need to define when is a volume 1 small enough to be continuous, vs a volume 1 that is too big and needin

[2022-02-28 14:49] JohnMoehrke opened #20 "need other.md"
bring over the other.md that ITI has been using.

[2022-03-25 15:43] JohnMoehrke opened #21 "comprehensive MustSupport definition"
A very comprehensive way of explaining MustSupport as found in Canadian specifications
    http://build.fhir.org/ig/HL7-Canada/ca-baseline/branches/master/general-guidance.html#cardinality-and-mustsupport-definitions

### Must Support
Base or baseline specifications are specifications that other implementation guides build on top of. When applying constraints, this guide does so with the understan

[2022-03-25 15:44] JohnMoehrke commented on #21
useful to see, not sure this is worthy of taking on fully in IHE.

[2022-03-30 13:20] JohnMoehrke commented on #12
done a while ago

[2022-03-30 13:20] #12 closed, assigned to JohnMoehrke

[2022-03-30 14:50] #8 closed, assigned to JohnMoehrke

[2022-04-14 14:20] lynnfel opened #24 "Open Closed issues need to be more prominent in an IG for public comment"
Especially when publishing an IG for public comment, we need to make the Open/Closed issues more prominent because that often contains the important issues the Tech Committee is seeking feedback on.

Solving this might be as simple as adding a section heading in bold font on the Home page of an IG, with a link to the issues below that.   Attached below is what it looked like when IMR was published

[2022-04-14 15:09] JohnMoehrke commented on #24
Our template has the open and closed issues link within a pink/orange box... Radiology chose to remove that box. We can't forbid removal of the box by a committee that choses to remove that box.

[2022-04-14 15:15] lynnfel commented on #24
didn't know that.  sorry

[2022-04-14 16:05] JohnMoehrke opened #22 "License vs CC0"
Given that IG publications use the well-known license graphics, IHE needs to harmonize their license
* https://profiles.ihe.net/GeneralIntro/ch-9.html

with well-known license terms such as CC0

Note CC0 is what HL7 is using, and is also what our IGs are claiming.

Also, IHE should really have a well-known URL for license. Something like
* https://ihe.net/license.html

[2022-04-14 16:17] JohnMoehrke commented on #22
today all our github repos are indicating CC-BY-SA-4.0

need to evaluate
* CC-BY-SA-4.0 - https://creativecommons.org/licenses/by-sa/4.0/
* CC BY 4.0 - https://creativecommons.org/licenses/by/4.0/
* CC0 - https://creativecommons.org/choose/zero/

[2022-04-14 16:39] JohnMoehrke commented on #24
Thanks to @lukeaduncan for checking my statement, and finding it false.

[2022-04-15 17:29] JohnMoehrke commented on #22
discussed in IHE-FHIR WG - Likely will go with (CC BY 4.0).

- [x]  Decide on CC license to use @ccarr
- [ ] Write Document Change Request @ccarr
- [ ] Update www.ihe.net to have a License indication on the about page @MaryLJ
- [ ] Update Chapter 9 with indication of the CC license chosen @MaryLJ
- [ ] Update governance document to indicate the CC license chosen @ccarr
- [ ] create a redirect for

[2022-04-27 18:58] #24 closed, assigned to nobody

[2022-04-27 18:59] JohnMoehrke opened #25 "open/closed issues could link to github issue"
best-practice might be to have a github issue for each open issue; and thus the open issue can point at the github issue.

[2022-04-27 18:59] JohnMoehrke commented on #25
see BasicAudit which did this

[2022-04-27 19:02] ToddCooper commented on #25
That's the approach we are taking in the SDPi profile development as well.
We discuss it extensively  in our confluence work.  Tie resolutions to
github issues and then tie those to the section in the profile spec.

~>Todd 탇

*Soli Deo gloria*

M:  +1 858.442.9200
S:  ToddCooperAFC

On Wed, Apr 27, 2022 at 11:59 AM John Moehrke ***@***.***>
wrote:

[2022-04-30 14:32] JohnMoehrke commented on #22
note current icon is a CC-BY icon
source icons - https://creativecommons.org/about/downloads/

[2022-05-03 18:19] JohnMoehrke opened #26 "remove copyright indication from sushi-config.yaml"
This causes an additional statement in the new table on the first page. This indication does not seem to be more helpful than the footer statements of copyright. So, recommend that the sushi-config.yaml not indicate copyright to IHE.

[2022-05-03 19:35] #20 closed, assigned to nobody

[2022-05-03 19:35] #26 closed, assigned to JohnMoehrke

[2022-05-03 19:37] JohnMoehrke commented on #15
this is part of the publications process

[2022-05-03 19:37] #15 closed, assigned to nobody

[2022-05-03 19:37] JohnMoehrke commented on #13
mary now has this power

[2022-05-03 19:37] #13 closed, assigned to ccarr

[2022-05-03 19:40] JohnMoehrke commented on #2
I think time has passed this issue by. seems should close this.

[2022-05-04 13:13] JohnMoehrke commented on #16
@costateixeira do I just create another formal IHE template and move this stuff there? Copying this stuff along with each new project is starting to be a problem (not a big one).

[2022-05-04 13:17] JohnMoehrke commented on #26
Guidance from HL7 is that this element is not necessary given the copyright in the footer of each page. They use the element on a per artifact basis when the copyright is outside the publishing organization. We do have publishing organization indicated.

[2022-05-05 03:03] costateixeira commented on #16
We should find a better way to set numbers, or at least an ig parameter or
config variable that turns numbers on or off.

On Wed, 4 May 2022, 15:13 John Moehrke, ***@***.***> wrote:

[2022-05-05 12:43] JohnMoehrke commented on #16
So, are you suggesting that we push for that, and carry along the project specific templating a bit longer? I like that plan, but need to see that it will happen.

I would agree turning off auto-numbers with a parameter would be nice. I think I did put that requirement into the queue.

Auto numbers given a page specific starting number would be nice, but I don't think it is really needed. For thos

[2022-05-19 18:53] #11 closed, assigned to costateixeira

[2022-05-19 18:54] JohnMoehrke commented on #14
works

[2022-05-19 18:54] #14 closed, assigned to ccarr

[2022-05-19 18:57] #19 closed, assigned to nobody

[2022-05-19 18:59] JohnMoehrke commented on #21
Grahame is driving for a totally new MustSupport mechanism
https://confluence.hl7.org/display/FHIR/Must+Support+replacement+proposal

[2022-05-19 18:59] #2 closed, assigned to kwboone, costateixeira

[2022-05-19 19:00] #6 closed, assigned to nobody

[2022-05-19 19:01] JohnMoehrke opened #28 "IG Publisher parameter for IHE Domain graphic"
can we get domain graphic into ihe template, triggered off of something (ITI, PCC, QRPH, PaLM, RAD, etc)
  - today this is done with repo specific editing of local template

[2022-05-22 02:32] tonesoutherland opened #29 "Add transparency and details to Getting Started documentation"
**The Problem**
The [Getting Started guide](https://github.com/IHE/supplement-template/wiki/Getting-Started) is helpful, good information is provided. However, there is a strong dependency on one person: John. John's name is mentioned several times in the guide. There is some magic that John does to make things happen at certain steps. What happens if John disappears (not that he is planning to)?

[2022-05-22 06:40] costateixeira commented on #29
I agree and while I could add the name "José" and others in most of those
steps, there should be consistency which at this moment is ensured by John.
We should have transparency and ability to scale without asking for John to
profusely document every reason and dependency he knows, but to automate
the procedures and simplify handover:

We can automate a lot as we've done for Belgium and OpenHIE to

[2022-06-14 15:34] JohnMoehrke opened #30 "guidance to forbid implicitRules in profiled resources"
There is an  element in FHIR Resource.implicitRules that is a modifier element that requires that the resource consumer must understand the rules indicated. yet the element is just a URI, and the element is 0..1.

IHE Implementation Guides that do not have a understood value for implicitRules should strongly consider forbidding it in profiles within that Implementation Guide.

[2022-10-06 20:12] vassilpeytchev opened #31 "after adding template = ihe.fhir.template to IG.ini, the latest base template is not used"
The current (not released) base template has the update to menus to take up 30% of the screen. After IG.ini was updated, that feature is not available.

[2022-10-07 00:16] JohnMoehrke commented on #31
This is not an IHE problem. HL7 has not released the HL7 template with that wider menu. Thus you need to force the use of #current template.

Thus in your ig.ini use to use unreleased templates
template = ihe.fhir.template#current

rather than without "#current" which uses released templates.

HL7 needs to release their base template with the fix you desire.  The use of #current is okay for develo

[2022-10-07 00:16] #31 closed, assigned to JohnMoehrke

[2022-10-27 17:58] JohnMoehrke opened #32 "cleanup CapabililtyStatement IG build rendering"
I have discovered a number of changes that enable a much better rendering of the CapabilityStatements

1. don't include a text element, so as to allow IG builder to create narrative
2. don't include publisher, this will come from the IG details
3. don't include contact, this will come from the IG detail
4. don't include copyright, this will come from the IG detail
5. don't include a version, this

[2022-10-27 17:59] #32 closed, assigned to JohnMoehrke